<% content_for :custom_scripts do %>
  <% javascript_include_tag 'ajax_form_submitter' %>
<% end %>

<% content_for :body do %>
  <br />
  <br />
  <div id="sms_sending_status">
    <span id="sms_sending_success"></span>
    <span id="sms_sending_error"></span>
  </div>

  <%= form_tag( {:controller => "messages", :action => "send_sms"}, 
                {:method => "post", :class => "sms_sending_form"} ) do %>
    <%= label_tag("Reply with a message") %>
    <%= text_area_tag(:message, '', :size => '60x3', :id=>'sms_content') %>
    <%= hidden_field_tag(:dest, @mobile, :id=>'sms_dest') %>
    <%= submit_tag("Send SMS Now", :id => "sms_send_button") %>
  <% end %>

  <table id="myTable" class="tablesorter">
    <thead>
      <tr>
	<th>Case</th>
	<th>From Type</th>
	<th>To Type</th>
	<th>From Name</th>
	<th>To Name</th>
	<th>From Phone</th>
	<th>To Phone</th>
	<th>Timestamp</th>
	<th>Message</th>
	<th>Status</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
	<td>
	  <%= link_to "<<", :controller => :messages, :action => :messages,
	      :page => @prev_page, :cellphone => @mobile %>
	</td>
	<% 8.times do %> <td></td> <% end %>
	<td>
	  <%= link_to ">>", :controller => :messages, :action => :messages,
	      :page => @next_page, :cellphone => @mobile %>
	</td>
      </tr>
    </tfoot>

    <tbody>
      <% @messages.each do |m| %>
	<tr class="<%= cycle('odd', 'even')%>">
	  <% unless m.case.nil? %>
	    <!-- Case -->
	    <td>
	      <%= link_to m.case.id, :controller => :cases, :action => :cases, 
	          :id => m.case.id %>
	    </td>
	  <% else %>
	    <td>No Case</td>
	  <% end %>

	  <!-- From Type -->
	  <td><%= m.from_person_type || type_on_mobile(m.from_number) %></td>
	  <!-- To Type -->
	  <td><%= m.to_person_type || type_on_mobile(m.to_number) %></td>

	  <!-- From Name -->
	  <% unless m.from_person.nil? %>
	    <td>
	      <%= link_to m.from_person.full_name, :controller => :messages, 
	          :action => :messages, :person_id => m.from_person.id, 
		  :person_type => m.from_person.class.to_s %>
	    </td>
	  <% else %>
	    <td><%= type_on_mobile(m.from_number) %></td>
	  <% end %>

	  <!-- To Name -->
	  <% unless m.to_person.nil? %>
	    <td>
	      <%= link_to m.to_person.full_name, :controller => :messages, 
	          :action => :messages, :person_id => m.to_person.id,
		  :person_type => m.to_person.class.to_s %>
	    </td>
	  <% else %>
	    <td><%= type_on_mobile(m.to_number)  %></td>
	  <% end %>

	  <!-- From Phone -->
	  <td><%= m.from_number %></td>
	  
	  <!-- To Phone -->
	  <td><%= m.to_number %></td>

          <!-- Time Stamp -->
	   <td>
	     <% integer_time = m.time_received_or_sent.to_i %>
	     <% time = Time.at(integer_time).in_time_zone(@timezone) %>
	     <%= time.strftime("%d %b %Y\n%R") %>
	   </td>

	  <!-- Message -->
	  <td><%= m.msg %></td>

          <!-- Status -->
	  <% if m.incoming? %>
	    <td>Received</td>
	  <% else %>
	    <td><%= m.gateway_status || "Pending..." %></td>
	  <% end %>

	</tr>
      <% end %>
    </tbody>
  </table>

<% end %>
