<% content_for :custom_scripts do %>
  <%= stylesheet_link_tag 'base.css' %>
  <%= stylesheet_link_tag 'tables.css' %>
  <%= javascript_include_tag 'jquery-1.6.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <script type="text/javascript">
  function lock(id) { 
    document.getElementById(id).checked = !document.getElementById(id).checked; 
  }
  </script>
<% end %>

<% content_for :body do %>
  <br />
  <br />

  <table>
  <thead class="casesHead" id="cases">
  <tr>
    <th>Case</th>
    <th>Finished</th>
    <th>VHD Name</th>
    <th>Patient Name</th>
    <th>REQ SMS</th>
    <th>Doctor Name</th>
    <th>Last Doctor SMS</th>
    <th>Alert Sent</th>
    <th>Follow Up</th>
    <th>Date</th>
    <th>Fake SMS</th>
  </tr>
  </thead>

  <tfoot>
    <tr>
      <td>
	<%= link_to "<<", :controller => :cases, :action => :main,
	    :page => @prev_page %>
      </td>
      <% 9.times do %>
	<td></td>
      <% end %>
      <td>
	<%= link_to ">>", :controller => :cases, :action => :main,
	    :page => @next_page %>
      </td>
    </tr>
  </tfoot>


  <tbody>
  <% @cases.each do |kase| %>
  <tr>

    <!-- Case -->
    <td>
      <%= link_to kase.id, :controller => :cases, :action => :cases, 
          :id => kase.id%>
    </td>
    
    <!-- Finished -->
    <td><center>
      <% finished = kase.status == "resolved"  %>
      <% elem_id = "Case_#{kase.id}_FIN" %>
      <%= check_box_tag(elem_id, elem_id, finished,  
          { :checked => finished, :onclick => "lock(\'#{elem_id}\')" } ) %>
    </center></td>

    <!-- VHD -->
    <% unless kase.vhd.nil? %>
      <td>
        <%= link_to kase.vhd.name, :controller => :messages, 
	    :action => :messages, :person_id => kase.vhd.id, 
	    :person_type => "Vhd" %>
      </td>
    <% else %>
      <td></td>
    <% end %>

    <!-- Patient -->
    <% unless kase.patient.nil? %>
      <td><%= kase.patient.name %></td>
    <% else %>
      <td></td>
    <% end %>

    <!-- REQ SMS -->
    <td><%= kase.opening_message.msg %></td>   

    <!-- Doctor -->
    <% unless kase.doctor.nil? %>
      <td><%= link_to kase.doctor.full_name, :controller => :messages, 
              :action => :messages, :person_id => kase.doctor.id,
	      :person_type => "Doctor" %></td>
    <% else %>
      <td></td>
    <% end %>

    <!-- Last Doctor SMS -->
    <td><%= kase.last_doctor_msg %></td>

    <!-- Alert Sent -->
    <td><center>
      <% alerted = kase.alerted? ? "checked" : "unchecked" %>
      <% elem_id = "Case_#{kase.id}_ALERT" %>
      <% script_name = "lock('#{elem_id}')" %>
      <input type="checkbox" id="<%= elem_id %>" onclick="<%= script_name %>" <%= "checked=\"checked\"" if kase.alerted %>/>
    </center></td>

    <!-- Follow Up -->
    <td><center>
      <%= check_box_tag "nonya", "nonya", false %>
    </center></td>

    <!-- Date -->
    <td><%= Time.at(kase.time_opened.to_i).strftime("%d %b") %></td>

    <!-- Fake SMS -->
    <td><center>
      <% is_fake = kase.fake %>
      <%= form_for :case, :url => { :action => :mark_fake },
	  :remote => true do |f| %>
	<%= hidden_field :case, :id, :value => kase.id %>
	<%= f.check_box "fake", :checked => is_fake, :class => "submittable" %>
      <% end %>
    </center></td>

  </tr>
  <% end %>
  </tbody>
  </table>

<% end %>
