<% content_for :custom_scripts do %>
  <%= javascript_include_tag "rails.js" %>
<% end %>

<% content_for :body do %>
  <br />
  <br />

  <table id="myTable" class="tablesorter">
    <thead>
      <tr>
	<th>Case</th>
	<th>From Type</th>
	<th>To Type</th>
	<th>From Name</th>
	<th>To Name</th>
	<th>From Phone</th>
	<th>To Phone</th>
	<th>Timestamp</th>
	<th>Message</th>
	<th>Status</th>
	<th>Mark Fake SMS</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
	<td>
	  <%= link_to "<<", :controller => :cases, :action => :report,
              :page => @prev_page %>
	</td>
	<% 9.times do %> <td></td> <% end %>
	<td>
	  <%= link_to ">>", :controller => :cases, :action => :report,
	      :page => @next_page %>
	</td>
      </tr>
    </tfoot>

    <tbody>
      <% @messages.each do |m| %>

	<tr class="<%= cycle('odd', 'even')%>">
	  <% unless m.case_id.nil? %>

	    <!-- Case -->
	    <td>
	      <%= link_to m.case_id.to_s, :controller => :cases, 
	                  :action => :cases, :id => m.case_id %>
	    </td>
	  <% else %>
	    <td>No Case</td>
	  <% end %>
	  <!-- From Type -->
	  <td>
	    <%= m.from_person_type || type_on_mobile(m.from_number) %>
	  </td>
	  <!-- To Type -->
	  <td><%= m.to_person_type || type_on_mobile(m.to_number) %></td>

	  <!-- From Name -->
	  <% if m.from_person %>
	    <td>
	      <%= link_to m.from_person.full_name, :controller => :messages, 
	          :action => :messages, :person_id => m.from_person.id, 
		  :person_type => m.from_person.class.to_s %>
	    </td>
	  <% else %>
	    <td><%= type_on_mobile(m.from_number) %></td>
	  <% end %>

	  <!-- To Name -->
	  <% unless m.to_person.nil? %>
	    <td>
	      <%= link_to m.to_person.full_name, :controller => :messages, 
	          :action => :messages, :person_id => m.to_person.id,
		  :person_type => m.to_person.class.to_s %>
	    </td>
	  <% else %>
	    <td><%= type_on_mobile(m.to_number)  %></td>
	  <% end %>

	  <!-- From Phone -->
	  <td><%= m.from_number %></td>
	  
	  <!-- To Phone -->
	  <td><%= m.to_number %></td>

          <!-- Time Stamp -->
	   <td>
	     <% integer_time = m.time_received_or_sent.to_i %>
	     <% time = Time.at(integer_time).in_time_zone(@timezone) %>
	     <%= time.strftime("%d %b %Y\n%R") %>
	   </td>

	  <!-- Message -->
	  <td><%= m.msg %></td>

          <!-- Status -->
	  <% if m.incoming? %>
	    <td>Received</td>
	  <% else %>
	    <td><%= m.gateway_status || "Pending..." %></td>
	  <% end %>

          <!-- Mark Fake SMS -->
	  <% if m.case_id? && m.msg.strip.split(/\s+/).first.match(/req/i) %>
	    <td><center>
	      <%= form_for :case, :url => { :action => :mark_fake }, 
			          :remote => true do |f| %>
		<%= hidden_field :case, :id, :value => m.case_id %>
		<%= f.check_box 'fake', :checked => m.case.fake, 
		                        :class => 'submittable' %>
	      <% end %>
	    </center></td>
	  <% else %>
	    <td></td>
	  <% end %>

	</tr>
      <% end %>

    </tbody>
  </table>

<% end %>
