<% content_for :custom_scripts do %>
  <%= stylesheet_link_tag 'base.css' %>
  <%= javascript_include_tag 'jquery-1.6.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <script type="text/javascript">
  function lock(id) { 
    document.getElementById(id).checked = !document.getElementById(id).checked; 
  }
  </script>
<% end %>

<% content_for :body do %>
  <br />
  <br />

  <% if !(@notice == nil)%>
      <p>No results found.  Please try again.</p>
  <% end %>
 <br />

  <br><b>Select cases for follow up by searching for a specific case number or by choosing a time interval.</b></br>

  <p><b>Option 1: </b>Search for a specific case number: 
        <% form_tag :action => 'results' do %>
	  <%= text_field "caseform", "id", "size" => 10 %>
          <%= submit_tag "Submit" %>
        <% end %>
  </p>




 <p><b>Option 2: </b>Choose a specific time interval. Cases with an ending time within the interval will be selected at random: </p>
  <% form_tag :action => 'results' do %>
 <p>Start: <%=datetime_select "start_date", params[:start_date], :start_year => 2008%></p>
 <p>End: <%=datetime_select "end_date", params[:end_date], :start_year => 2008%></p>
  <%=submit_tag "Submit" %>
 <% end %>

<% end %>
